body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #D4AC0D;
}

.quem-somos {
    background-color: #566573;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.margin-top {
    padding-top: 30px;
}

.parceiros {
    background-color: #D5D8DC;
    color: black;
}

.bg-footer {
    background-color: black;
    color: white;
}